#nav-menu {
    position: absolute;
    left: -150px;
    width: 150px;
    height: 100%;
    min-height: 700px;
    background-color: green;
}

#nav-menu a {
    display: block;
    width: 60px;
    margin: 8px
}

.content {
    position: relative;
    margin-left: 150px;
    float: left;
}

.list-item {
    width: 300px;
    border-width: .2px;
    padding-top: 10px;
    border-bottom: thin solid;
    background-color: #FFFFCC;
    min-height: 18px;
}

.list-item.selected {
    background-color: #E5E5B7
}

.right-panel {
    margin-left: 300px;
    background-color: #CCFFFF;
    padding-left: 5px;
}